<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="fr">
<head>
    <title>Créer Personne</title>
</head>
<body>
    <div layout:fragment="content">
        <div class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Créer/modifier Personne</h5>
                    <form th:action="@{/personnes/save}" th:object="${personne}" method="post">
                        <div class="mb-3">
                            <label for="nom" class="form-label">Nom</label>
                            <input type="text" class="form-control" id="nom" th:field="*{nom}"/>
                        </div>
                        <div class="mb-3">
                            <label for="prenom" class="form-label">Prénom</label>
                            <input type="text" class="form-control" id="prenom" th:field="*{prenom}"/>
                        </div>
                        <div class="mb-3">
                            <label for="contact" class="form-label">Contact</label>
                            <input type="text" class="form-control" id="contact" th:field="*{contact}"/>
                        </div>
                        <div>
                            <button type="submit" class="btn btn-primary">Enregistrer</button>
                            <a href="/personnes" class="btn btn-secondary">Annuler</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>